/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors Being Used
Black #2D2D2A
Yellow FFCA3A
Blue
 */

body {
  background-color: #1982c4;
  display: flex;
  flex-direction: column;
  color: #2d2d2a;
  min-height: 100vh;
}

h2 {
  font-family: "Oswald", sans-serif, regular;
  font-size: 30px;
}
h3 {
  font-family: "Oswald", sans-serif, regular;
  font-size: 22px;
}
header {
  background-color: #ffca3a;
  height: 160px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px #2d2d2a;
  border-top: solid 5px #2d2d2a;
}
.section-one {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.choices {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.main-title {
  color: #2d2d2a;
  font-size: 60px;
  font-family: "Yellowtail", cursive;
}
.results {
  height: 140px;
  width: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.results h2 {
  padding: 5px 0 5px 0;
  font-family: "Oswald", sans-serif, regular;
}
.results h3 {
  padding: 0 10px 0 10px;
  text-align: center;
}
.scoring-player {
  height: 95px;
  width: 205px;
  border: 6px solid #2d2d2a;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif, regular;
}
.scoring-player h2 {
  padding: 0 5px 0 5px;
}

.results p {
  color: #2d2d2a;
  font-size: 18px;
  font-family: "Oswald", sans-serif, regular;
}
.scorebox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.compScore,
.playerScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.scorebox p {
  padding-top: 6px;
  font-size: 60px;
}
.btnBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.player-choice,
.comp-choice {
  background-color: #ffca3a;
  height: 110px;
  width: 110px;
  border: 4px solid #2d2d2a;
  border-radius: 10px;
  margin: 0 20px 0 20px;
}
.choice-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 0 25px;
}
.rock,
.paper,
.scissors {
  background-color: #ffca3a;
  height: 200px;
  width: 200px;
  border: 6px solid #2d2d2a;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sig {
  font-family: "Oswald", sans-serif, regular;
  font-weight: 300;
  margin: 0 0 10px 10px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
  max-height: 20px;
}
.github-logo {
  margin-left: 5px;
  margin-bottom: 10px;
}
.sig-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.player-choice {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comp-choice {
  display: flex;
  justify-content: center;
  align-items: center;
}
